@import 'variables';

#footer {
  background-color: $complementary-color;
  height: 100px;
  padding-top: 20px;

  .footer-text {
    margin: 0;
    padding-left: 40px;
    text-align: left;
    letter-spacing: 4px;
    font-size: $article-title-size;
  }

  .footer-images {
    @include flexbox(row, center, center);
    height: 45px;

    img {
      height: 100%;
    }
  }

  @media only screen and (max-width: 767px) { 
    .footer-text {
      font-size: 1rem;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    .footer-images {
      height: 30px;
    }
  }
}