$primary-color: white;
$secondary-color: #484753;
$tertiary-color: #8ba331;
$quaternary-color: #347099;
$elementary-color: #a82751;

$default-top-margin: 30px;

// Extra small devices (portrait phones, less than 576px)
$smartphones: "only screen and (max-width: 575px)";
// Small devices (landscape phones, 576px and up)
$smartphones-lg: "only screen and (min-width: 576px) and (max-width: 767px)";
// Medium devices (tablets, 768px and up)
$tablets: "only screen and (min-width: 768px) and (max-width: 991px)";
// Large devices (desktops, 992px and up)
$desktops-sm: "only screen and (min-width: 992px) and (max-width: 1199px)";
// Extra large devices (large desktops, 1200px and up)
$desktops: "only screen and (min-width: 1200px)";