$primary-color: #fff;
$secondary-color: #6d6d6d;
$tertiary-color: #a3c819;
$quaternary-color: #3489c1;
$quinary-color: #df1d51;
$elementary-color: #222343;
$events-bg-color: #14202e;
$primary-hover: #f1f1f1;

$default-top-margin: 30px;

// Fonts
@font-face {
    font-family: 'Gotham';
    src: url('/dist/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
        url('/dist/fonts/Gotham/Gotham-Bold.woff') format('woff'),
        url('/dist/fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
        url('/dist/fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.4px;
}

@font-face {
    font-family: 'Gotham';
    src: url('/dist/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
        url('/dist/fonts/Gotham/Gotham-Medium.woff') format('woff'),
        url('/dist/fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
        url('/dist/fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.4px;
}

@font-face {
    font-family: 'Gotham';
    src: url('/dist/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
        url('/dist/fonts/Gotham/Gotham-Medium.woff') format('woff'),
        url('/dist/fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
        url('/dist/fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.4px;
}


// Extra small devices (portrait phones, less than 576px)
$smartphones: "only screen and (max-width: 575px)";
// Small devices (landscape phones, 576px and up)
$smartphones-lg: "only screen and (min-width: 576px) and (max-width: 767px)";
// Medium devices (tablets, 768px and up)
$tablets: "only screen and (min-width: 768px) and (max-width: 991px)";
// Large devices (desktops, 992px and up)
$desktops-sm: "only screen and (min-width: 992px) and (max-width: 1199px)";
// Extra large devices (large desktops, 1200px and up)
$desktops: "only screen and (min-width: 1200px)";