@import 'variables';

#aboutUs {
    margin-bottom: $default-section-margin;

    article {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: $default-top-margin 0;
        padding: 30px 0;
        position: relative;

        figure {
            max-width: 45%;
            margin-top: 0;

            img {
                width: 300px;
            }
        }

        .about-text {
            .about-title {
                color: $quaternary-color;
                font-weight: bold;
                margin-top: 0;
            }

            .about-description {
                color: $secondary-color;
                width: 80%;
                display: block;
            }
        }

        .article-cta {
            margin-top: $default-top-margin;
        }

        .article-divisor {
            &:after {
                @extend .linha-tricolor;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }
        }

        &:last-child {
            .article-divisor {
                display: none;
            }
        }
    }

    @media only screen and (min-width: 992px){
        article {
            &:nth-child(even) {
                .about-text {
                    text-align: right;
                    order: -1;
    
                    .about-description {
                        margin: 0 0 0 auto;
                    }
                }
            }
    
            &:nth-child(odd) {
                figure {
                    order: -1;
                }
    
                .about-text {
                    margin: 0 auto 0 0;
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        article {
            @include flexbox(column, center, center);
            padding: 0;

            figure {
                width: 80%;

                img {
                    width: 100%;
                }
            }

            .about-text {
                text-align: center;

                .about-title {
                    margin-top: 20px;
                    padding: 0 10%;
                }

                .about-description {
                    margin: 0 auto;
                }
            }

            .article-divisor {
                margin-top: 50px;
            }
        }
    }
}