@import 'variables';

#past_events {
    margin-bottom: $default-section-margin;

    .events-list {
        @include flexbox(row, null, null, wrap);

        article {
            flex: 0 1 13%;
            margin: 5px;
            height: auto;
            background-color: $events-bg-color;
            padding: 10px;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .event-picture {
                width: 100%;
            }

            .event-name {
                text-align: center;
                color: $primary-color;
                margin: 20px auto 0;
                font-weight: bold;
                font-size: 1.2rem;
            }

            .event-date {
                text-align: center;
                color: $quaternary-color;
                font-weight: bold;
                margin: 0 auto 20px;
            }

            .past-events-btn {
                border-width: 2px;
                text-align: center;
                font-size: 0.95rem;
                margin-bottom: 10px;

                &.disabled {
                    background-color: rgba($primary-color, .2);
                    cursor: default;
                    color: $primary-hover;
                    pointer-events: none;
                    touch-action: none;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) { 
        padding: 0 20px;

        .events-list {
            flex-direction: column;

            article {
                margin: 20px auto;
            }
        }
    }
}