@import 'variables';

#speakers {
    padding: 0 30px;
    
    .speakers-list {
        @include flexbox(row, null, null, wrap);

        article {
            flex: 1 0 20%;
            margin: 5px;
            height: auto;
            background-color: $events-bg-color;
            padding: 20px;
            position: relative;
            overflow: hidden;

            .speaker-name,
            .speaker-position {
                text-align: center;
                display: block;
                margin: 0 auto 10px;
            }

            .speaker-name {
                color: white;
                font-size: 1.4rem;
                font-weight: bold;
            }

            .speaker-position {
                color: $quaternary-color;
                font-style: italic;
                font-size: 1.2rem;
            }

            .speaker-picture {
                width: 100%;
            }

            .speaker-overlay {
                @include flexbox(column, center, flex-start);
                cursor: pointer;
                background: rgba($quaternary-color, .9);
                width: calc(100% - 40px);
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transform: translateX(-100%);
                transition: transform 0.5s ease, opacity 0.5s ease;
                padding: 0 20px;

                .speaker-name {
                    margin-top: 20px;
                }

                .speaker-position {
                    color: $tertiary-color;
                }

                .speaker-overlay-box {
                    @include flexbox(column, center, space-between);
                    height: 50%;
                    border: 1px solid $primary-color;
                    padding: 10px;
                    text-align: center;
                    font-size: 1.2rem;

                    .talk-title,
                    .talk-schedule {
                        color: $primary-color;
                    }

                    .talk-title {
                        margin-top: 20px;
                    }
                }
            }

            &:hover {
                .speaker-overlay {
                    opacity: 1;
                    height: calc(100%);
                    transform: translateX(0%);
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        padding: 0 20px;

        .speakers-list {
            flex-direction: column;

            article {
                margin: 20px auto;
            }
        }
    }
}